<a href="https://colab.research.google.com/github/padolekrushna/Daily_Data-Science-Python-Practice/blob/main/part_3_python_practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Day 36) write program to convert celsius to fehrenheit.

In [ ]:
celsius = float(input("Enter temperature in celsius: "))
fahrenheit = (celsius * 9/5) + 32
print('%.2f Celsius is: %0.2f Fahrenheit' %(celsius, fahrenheit))

Enter temperature in celsius: 37
37.00 Celsius is: 98.60 Fahrenheit

day 37) In this example, we will see how we can read a file using the with statement in Python.

In [ ]:
# Python code to create a file
file = open('geek.txt', 'w')
file.write("This is the write command\n")
file.write("It allows us to write in a particular file\n")
file.close()

# Using 'with' statement to open and read a file
with open("geek.txt") as file:
    data = file.read()

print(data)

This is the write command
It allows us to write in a particular file

Day 38) Create a class named MyClass, with a property named x and Now we can use the class named MyClass to create objects.

In [ ]:
class MyClass:
  x = 5
p1 = MyClass()
print(p1.x)

5

Day 39) syntax to create an object and Access Class Attributes Using Objects

In [ ]:
# define a class
class Bike:
    name = ""
    gear = 0

# create object of class
bike1 = Bike()

# access attributes and assign new values
bike1.gear = 11
bike1.name = "Mountain Bike"

print(f"Name: {bike1.name}, Gears: {bike1.gear} ")

Name: Mountain Bike, Gears: 11

Day 40)Write a program for creating an integer array with values belonging to the range 10 and 60

In [1]:
import numpy as np
array = np.arange(30, 71)
print("Array of the integers from 30 to 70")
print(array)

Array of the integers from 30 to 70
[30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53
 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70]

Day 41)Write a program for inserting space between characters of all elements in a NumPy array.

In [2]:
import numpy as np
x = np.array(["geeks", "for", "geeks"],
			dtype=np.str)
print("Printing the Original Array:")
print(x)
r = np.char.join(" ", x)
print("Printing the array after inserting space\between the elements")
print(r)

Printing the Original Array:
['geeks' 'for' 'geeks']
Printing the array after inserting spaceetween the elements
['g e e k s' 'f o r' 'g e e k s']

<ipython-input-2-391742b8bac6>:3: DeprecationWarning: `np.str` is a deprecated alias for the builtin `str`. To silence this warning, use `str` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.str_` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  dtype=np.str)

Day 42) How to find the Index of value in Numpy Array ?

In [4]:
import numpy as np
a = np.array([1, 2, 3, 4, 8, 6, 7, 3, 9, 10])
print("All index value of 3 is: ", np.where(a == 3)[0])

print("First index value of 3 is: ",np.where(a==3)[0][0])

All index value of 3 is:  [2 7]
First index value of 3 is:  2

Day 43) Python Program for Binary Search Using Recursive

In [6]:
def binary_search(arr, x):
	low = 0
	high = len(arr) - 1
	mid = 0

	while low <= high:

		mid = (high + low) // 2
		if arr[mid] < x:
			low = mid + 1
		elif arr[mid] > x:
			high = mid - 1
		else:
			return mid
	return -1
arr = [ 2, 3, 4, 10, 40 ]
x = 10
result = binary_search(arr, x)

if result != -1:
	print("Element is present at index", str(result))
else:
	print("Element is not present in array")

Element is present at index 3

In [ ]:
Day 44)