<a href="https://colab.research.google.com/github/padolekrushna/Daily_Data-Science-Python-Practice/blob/main/part_3_python_practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Day 36) write program to convert celsius to fehrenheit.

In [ ]:
celsius = float(input("Enter temperature in celsius: "))
fahrenheit = (celsius * 9/5) + 32
print('%.2f Celsius is: %0.2f Fahrenheit' %(celsius, fahrenheit))

Enter temperature in celsius: 37
37.00 Celsius is: 98.60 Fahrenheit

day 37) In this example, we will see how we can read a file using the with statement in Python.

In [ ]:
# Python code to create a file
file = open('geek.txt', 'w')
file.write("This is the write command\n")
file.write("It allows us to write in a particular file\n")
file.close()

# Using 'with' statement to open and read a file
with open("geek.txt") as file:
    data = file.read()

print(data)

This is the write command
It allows us to write in a particular file

Day 38) Create a class named MyClass, with a property named x and Now we can use the class named MyClass to create objects.

In [ ]:
class MyClass:
  x = 5
p1 = MyClass()
print(p1.x)

5

Day 39) syntax to create an object and Access Class Attributes Using Objects

In [ ]:
# define a class
class Bike:
    name = ""
    gear = 0

# create object of class
bike1 = Bike()

# access attributes and assign new values
bike1.gear = 11
bike1.name = "Mountain Bike"

print(f"Name: {bike1.name}, Gears: {bike1.gear} ")

Name: Mountain Bike, Gears: 11

Day 40)Write a program for creating an integer array with values belonging to the range 10 and 60

In [ ]:
import numpy as np
array = np.arange(30, 71)
print("Array of the integers from 30 to 70")
print(array)

Array of the integers from 30 to 70
[30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53
 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70]

Day 41)Write a program for inserting space between characters of all elements in a NumPy array.

In [ ]:
import numpy as np
x = np.array(["geeks", "for", "geeks"],
			dtype=np.str)
print("Printing the Original Array:")
print(x)
r = np.char.join(" ", x)
print("Printing the array after inserting space\between the elements")
print(r)

Printing the Original Array:
['geeks' 'for' 'geeks']
Printing the array after inserting spaceetween the elements
['g e e k s' 'f o r' 'g e e k s']

<ipython-input-2-391742b8bac6>:3: DeprecationWarning: `np.str` is a deprecated alias for the builtin `str`. To silence this warning, use `str` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.str_` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  dtype=np.str)

Day 42) How to find the Index of value in Numpy Array ?

In [ ]:
import numpy as np
a = np.array([1, 2, 3, 4, 8, 6, 7, 3, 9, 10])
print("All index value of 3 is: ", np.where(a == 3)[0])

print("First index value of 3 is: ",np.where(a==3)[0][0])

All index value of 3 is:  [2 7]
First index value of 3 is:  2

Day 43) Python Program for Stack in Python

In [ ]:
stack = []
stack.append('a')
stack.append('b')
stack.append('c')

print('Initial stack')
print(stack)

print('\nElements popped from stack:')
print(stack.pop())
print(stack.pop())
print(stack.pop())

print('\nStack after elements are popped:')
print(stack)

Initial stack
['a', 'b', 'c']

Elements popped from stack:
c
b
a

Stack after elements are popped:
[]

Day 44) Queue in Python

In [ ]:
queue = []
queue.append('a')
queue.append('b')
queue.append('c')
print("Initial queue")
print(queue)
print("\nElements dequeued from queue")
print(queue.pop(0))
print(queue.pop(0))
print(queue.pop(0))
print("\nQueue after removing elements")
print(queue)

Initial queue
['a', 'b', 'c']

Elements dequeued from queue
a
b
c

Queue after removing elements
[]

Day 45) Program to display the Fibonacci sequence up to n-th term

In [ ]:
nterms = int(input("How many terms? "))
n1, n2 = 0, 1
count = 0
if nterms <= 0:
   print("Please enter a positive integer")
elif nterms == 1:
   print("Fibonacci sequence upto",nterms,":")
   print(n1)
else:
   print("Fibonacci sequence:")
   while count < nterms:
       print(n1)
       nth = n1 + n2
       n1 = n2
       n2 = nth
       count += 1

How many terms? 10
Fibonacci sequence:
0
1
1
2
3
5
8
13
21
34

Day 46) Encapsulation

In [ ]:
class Car:
    def __init__(self, make, model):
        self.__make = make  # private attribute
        self.__model = model  # private attribute

    def drive(self):
        print(f"Driving {self.__make} {self.__model}")

    def get_make(self):  # public method
        return self.__make

my_car = Car("Toyota", "Camry")
print(my_car.get_make())  # accessing through public method

Toyota

Day 47) Composition

In [ ]:
class Engine:
    def start(self):
        print("Engine started")

class Car:
    def __init__(self):
        self.engine = Engine()  # Composition: Car has an Engine

    def start(self):
        self.engine.start()

my_car = Car()
my_car.start()  # This will start the engine of the car

Engine started

Day 48)  function definition to make both functions that always Triples and Doubles the number you send in:

In [2]:
def myfunc(n):
  return lambda a : a * n

mydoubler = myfunc(2)
mytripler = myfunc(3)

print(mydoubler(10))
print(mytripler(10))

20
30