<a href="https://colab.research.google.com/github/padolekrushna/Daily_Data-Science-Python-Practice/blob/main/part_2_python_practic.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

daily practic python part 2:

 day 14) write program to get the 3 elements from front and 3 elements from back of tuple.

In [ ]:
tup=('K','r','u','s','h','n','a')
print("front 3 elements are",tup[2])
print("last 3 elements are",tup[-3])

front 3 elements are u
last 3 elements are h

day 15) write program repeated items of a tuple.

In [ ]:
tup=('K','r','u','s','h','n','a','a')
print(tup.count('a'))

2

day 16) wirte a program to check whether an element exists within a tuple.

In [ ]:
tup1=('K','r','u','s','h','n','a')
ch=input("enter element to search : ")
print(ch in tup1)

enter element to search : K
True

day 17) Write a Python program to find repeated items in a tuple.

In [ ]:
tuplex = 2, 4, 5, 6, 2, 3, 4, 4, 7
print(tuplex)
count = tuplex.count(4)
print(count)

(2, 4, 5, 6, 2, 3, 4, 4, 7)
3

Day 18) what is output and iteration over set.

In [1]:
set={10,20,30,40,40}
print(set)
for i in set:
  print(i)

{40, 10, 20, 30}
40
10
20
30

Day 19) WAP to add & remove operation on set.

In [2]:
set.add(50)
set.pop()
set.remove(30)
set.discard(20)
print(set)

{10, 50}

Day 20) WAP to create union and intersection of sets.

In [5]:
set1={1,2,3}
set2={2,3,4}
print(set1.union(set2))
print(set1&set2)

{1, 2, 3, 4}
{2, 3}

Day 21) WAP to min,max,difference,symmetrix_difference.

In [11]:
set3={10,20,30,40,50,60}
print(min(set3))
print(max(set3))
set1={1,2,3}
set2={2,3,4}
print(set1-set2)
print(set1^set2)
""""print(set1.difference(set2))
print(set1.symmetric_difference(set2))"""

10
60
{1}
{1, 4}

'"print(set1.difference(set2))\nprint(set1.symmetric_difference(set2))'

Day 22) WAp to create shallow copy of sets .

In [12]:
set4={"abc","def","ghi"}
set5=set4.copy()
print(set5)

{'ghi', 'def', 'abc'}