<a href="https://colab.research.google.com/github/padolekrushna/Daily_Data-Science-Python-Practice/blob/main/Python_practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Welcome to the Data Science Python Practice Repository! This repository is designed to provide a platform for practicing Python programming in the field of data science. It offers a wide range of code snippets and exercises to help you enhance your Python skills, with a particular focus on data analysis, machine learning, and data visualization.

In [ ]:
# Importing necessary libraries
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

Q1) predicting number is even or odd in python.

In [ ]:
x = int(input("Enter a number: "))

if x % 2 == 0:
    print(x, "is an even number")
else:
    print(x, "is an odd number")

Enter a number: 100
100 is an even number

Q2) Python Program to Find Area of a Circle

In [ ]:
def findArea(r):
	PI = 3.142
	return PI * (r*r);
print("Area is",findArea(5));

Area is 78.55

Q3) Python Program to Replace all Occurrences of ‘a’ with $ in a String.

In [ ]:
str1 = "Krushna PADOLE"
str2 = ""
for char in range(0, len(str1)):
	if(str1[char]== "a" or str1[char]== "A"):
		str2 += '$'
	else:
		str2 += str1[char]
print("Modified string : ",str2)

Modified string :  Krushn$ P$DOLE

Q4) Python Program to Calculate the Length of a String Without using Library Functions.

In [ ]:
string=input("Enter string:")
count=0
for i in string:
      count+=1
print("Length of the string is:",count)

Enter string:Krushna padole
Length of the string is: 14

Q5) Python program to Calculate Frequency of a Characters in a String.

In [ ]:
str1 = "Krushna Padole"
char_count = {}
for char in str1:
    if char in char_count:
        char_count[char] += 1
    else:
        char_count[char] = 1
print(char_count)

{'K': 1, 'r': 1, 'u': 1, 's': 1, 'h': 1, 'n': 1, 'a': 2, ' ': 1, 'P': 1, 'd': 1, 'o': 1, 'l': 1, 'e': 1}

Q6) Python Program to Check if a String is Palindrome or Not.

In [ ]:
x = input("enter a string : ")
y = ""
for i in x:
	y = i + y
if (x == y):
	print("Yes its palindrome")
else:
	print("No palindrome")

enter a string : abccba
Yes its palindrome

Q7) Python program to calculate the number of digits and letters in a string.

In [ ]:
def count(input_string):
    num_digits = 0
    num_letters = 0

    for i in input_string:

        if '0' <= i <= '9':
            num_digits += 1
        else:
            if 'a' <= i.lower() <= 'z':
                num_letters += 1

    print("Number of digits:", num_digits)
    print("Number of letters:", num_letters)

input_string = input("Enter a string: ")
count(input_string)

Enter a string: krushna123
Number of digits: 3
Number of letters: 7

Day 8) Remove the characters which have odd index values of a given string

In [ ]:
def odd_values_string(str):
    result = ""
    for i in range(len(str)):
        if i % 2 == 0:
            result = result + str[i]
    return result
print(odd_values_string('krushna padole'))

kuhapdl

Day 9) Remove special symbols / punctuation from a string.

In [ ]:
test_str = input("enter sring")
print("The original string is : " + test_str)
punc = '''!()-[]{};:'"\,<>./?@#$%^&*_~'''
res=" "
for ele in test_str:
	if ele not in punc:
		res+=ele
print("The string after punctuation filter : " + res)

enter sringKrushna@_123@&padole%$_
The original string is : Krushna@_123@&padole%$_
The string after punctuation filter :  Krushna123padole

Day 10) write pythom program to reverse a tuple in set and aslo covert tuple to string.

In [ ]:
from pickle import TUPLE2
tuple1=("krushna",'padole',9.8,10)
team
team=tuple(reversed(tuple1))
print(team)
TUPLE2 = ('p', 'y', 't', 'h', 'o', 'n')
str = ''.join(TUPLE2)
print(str)

(10, 9.8, 'padole', 'krushna')
python

Day 11) write python program to add an item in a tuple.

In [3]:
t = (10,40,50,70,90)
t = t + (20,)
l = list(t)
l.append(30)
t = tuple(l)
print(t)

(10, 40, 50, 70, 90, 20, 30)

Day 12) copy element 44 and 55 from the following tuple into a new tuple
        tuple1=(11,22,33,44,55,66)

In [4]:
tuple1 = (11, 22, 33, 44, 55, 66)
tuple2 = tuple1[3:-1]
print(tuple2)

(44, 55)