<a href="https://colab.research.google.com/github/padolekrushna/Daily_Data-Science-Python-Practice/blob/main/part_4_python_practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Day 50) Insert a function that prints a greeting, and execute it on the p1 object:

In [ ]:
class Person:
  def __init__(self, name, age):
    self.name = name
    self.age = age

  def myfunc(self):
    print("Hello my name is " + self.name)

p1 = Person("John", 36)
p1.myfunc()

Hello my name is John

Day 51)Given two strings of comma-seperated values, sort and return the second list based on the ordering of the first list.

In [ ]:
def sort_list(list1, list2):

    zipped_pairs = zip(list2, list1)

    z = [x for _, x in sorted(zipped_pairs)]

    return z


n = "a,b,c,d,e,f,g,h,i"
m = "0,1,1,0,1,2,2,0,1"
x = n.split(",")
y = m.split(",")
print(sort_list(x, y))


n = "g,e,e,k,s,f,o,r,g,e,e,k,s"
m = "0,1,1,0,1,2,2,0,1"
x = n.split(",")
y = m.split(",")
print(sort_list(x, y))

['a', 'd', 'h', 'b', 'c', 'e', 'i', 'f', 'g']
['g', 'k', 'r', 'e', 'e', 'g', 's', 'f', 'o']

Day 52) Given an list of 100 numbers, find the (unique set) of duplicate values.

In [ ]:
random_list = [0, 0, 1, 1, 2, 3, 4, 5]

print(random_list)

def keep_duplicates(iterable):
    seen = set()
    duplicates = set()
    for x in iterable:
        if x in seen and x not in duplicates:
            yield x
            duplicates.add(x)
        else:
            seen.add(x)


print(list(keep_duplicates(random_list)))

[0, 0, 1, 1, 2, 3, 4, 5]
[0, 1]

Day 53) Given an list of 100 numbers, find the (unique set) of unique values.

In [ ]:
import random
random_list = [random.randint(0,100) for i in range(100)]
print(list)

seen = set()
uniq = []
for x in random_list:
    if x not in seen:
        uniq.append(x)
        seen.add(x)

print(seen)

<class 'list'>
{1, 2, 3, 6, 7, 11, 14, 16, 17, 18, 22, 23, 24, 26, 30, 34, 35, 37, 38, 40, 41, 42, 43, 46, 47, 48, 49, 50, 51, 53, 54, 55, 56, 58, 60, 62, 63, 64, 66, 68, 69, 70, 73, 75, 76, 78, 79, 80, 81, 83, 84, 86, 87, 88, 89, 90, 94, 96, 97, 99, 100}

Day 54)
Find all of the different permutations of a string. Your answer should not contain duplicates.

In [ ]:
from itertools import permutations

string = "stass"
perms = [''.join(p) for p in permutations(string)]
print(perms)

print("With duplicates: ", len(perms), "Without duplicates: ", len(set(perms)))

['stass', 'stass', 'stsas', 'stssa', 'stsas', 'stssa', 'satss', 'satss', 'sasts', 'sasst', 'sasts', 'sasst', 'sstas', 'sstsa', 'ssats', 'ssast', 'sssta', 'sssat', 'sstas', 'sstsa', 'ssats', 'ssast', 'sssta', 'sssat', 'tsass', 'tsass', 'tssas', 'tsssa', 'tssas', 'tsssa', 'tasss', 'tasss', 'tasss', 'tasss', 'tasss', 'tasss', 'tssas', 'tsssa', 'tsass', 'tsass', 'tsssa', 'tssas', 'tssas', 'tsssa', 'tsass', 'tsass', 'tsssa', 'tssas', 'astss', 'astss', 'assts', 'assst', 'assts', 'assst', 'atsss', 'atsss', 'atsss', 'atsss', 'atsss', 'atsss', 'assts', 'assst', 'astss', 'astss', 'assst', 'assts', 'assts', 'assst', 'astss', 'astss', 'assst', 'assts', 'sstas', 'sstsa', 'ssats', 'ssast', 'sssta', 'sssat', 'stsas', 'stssa', 'stass', 'stass', 'stssa', 'stsas', 'sasts', 'sasst', 'satss', 'satss', 'sasst', 'sasts', 'sssta', 'sssat', 'sstsa', 'sstas', 'ssast', 'ssats', 'sstas', 'sstsa', 'ssats', 'ssast', 'sssta', 'sssat', 'stsas', 'stssa', 'stass', 'stass', 'stssa', 'stsas', 'sasts', 'sasst', 'satss', 'satss', 'sasst', 'sasts', 'sssta', 'sssat', 'sstsa', 'sstas', 'ssast', 'ssats']
With duplicates:  120 Without duplicates:  20

Day 55) Read data from a API call that gives org structure data in JSON format and arrange that data in requested format

In [ ]:
import requests

resp = requests.get("https://api.spacexdata.com/v3/capsules/past")

if resp.status_code != 200:
    # This means something went wrong.
    raise ApiError('GET /tasks/ {}'.format(resp.status_code))

for item in resp.json():
    print('Capsule: {} Time: {} Status: {}'.format(item['capsule_serial'], item['original_launch_unix'], item['status']))

Capsule: C101 Time: 1291822980 Status: retired
Capsule: C102 Time: 1335944640 Status: retired
Capsule: C103 Time: 1349656500 Status: unknown
Capsule: C104 Time: 1362165000 Status: unknown
Capsule: C105 Time: 1397849100 Status: unknown
Capsule: C106 Time: 1411278720 Status: active
Capsule: C107 Time: 1420883220 Status: unknown
Capsule: C108 Time: 1429042200 Status: active
Capsule: C109 Time: 1435501260 Status: destroyed
Capsule: C110 Time: 1460148180 Status: active
Capsule: C111 Time: 1468817100 Status: active
Capsule: C112 Time: 1487515140 Status: active
Capsule: C113 Time: 1502728260 Status: active
Capsule: C201 Time: 1551512700 Status: active
Capsule: C205 Time: 1579442400 Status: active
Capsule: C206 Time: 1590866520 Status: active

Day56)
print LinkedIn if a number is divisible by 4 and 6, Linked if it is divisible by 4 and in it is by 6

In [ ]:
for i in range(0, 100):
    if i % 4 == 0 and i % 6 == 0:
        print(i, "Linkedin")
    elif i % 4 == 0:
        print(i, "Linked")
    elif i % 6 == 0:
        print(i, "in")
    else:
        print(i)

0 Linkedin
1
2
3
4 Linked
5
6 in
7
8 Linked
9
10
11
12 Linkedin
13
14
15
16 Linked
17
18 in
19
20 Linked
21
22
23
24 Linkedin
25
26
27
28 Linked
29
30 in
31
32 Linked
33
34
35
36 Linkedin
37
38
39
40 Linked
41
42 in
43
44 Linked
45
46
47
48 Linkedin
49
50
51
52 Linked
53
54 in
55
56 Linked
57
58
59
60 Linkedin
61
62
63
64 Linked
65
66 in
67
68 Linked
69
70
71
72 Linkedin
73
74
75
76 Linked
77
78 in
79
80 Linked
81
82
83
84 Linkedin
85
86
87
88 Linked
89
90 in
91
92 Linked
93
94
95
96 Linkedin
97
98
99

Day 57) Given a string as your input, delete any reoccurring character, and return the new string. input = "aabbcc" output = "abc"

In [ ]:
from itertools import groupby

input = "aabbcc"
output = ''.join(c for c, _ in groupby(input))
print(output)

abc

Day 58) Converting an Integer into Decimals

In [ ]:
import decimal
integer = 10
print(decimal.Decimal(integer))
print(type(decimal.Decimal(integer)))

10
<class 'decimal.Decimal'>

Day 59 ) Converting an String of Integers into Decimals

In [ ]:
import decimal
string = '12345'
print(decimal.Decimal(string))
print(type(decimal.Decimal(string)))

12345
<class 'decimal.Decimal'>

Day 60)Reversing a String using an Extended Slicing Technique

In [ ]:
string = "Python Programming"
print(string[::-1])

gnimmargorP nohtyP

Day 61) Counting Vowels in a Given Word

In [ ]:
vowel = ['a', 'e', 'i', 'o', 'u']
word = "programming"
count = 0
for character in word:
    if character in vowel:
        count += 1
print(count)

3

Day 61)Counting Consonants in a Given Word

In [ ]:
vowel = ['a', 'e', 'i', 'o', 'u']
word = "programming"
count = 0
for character in word:
    if character not in vowel:
        count += 1
print(count)

8

Day 62) Counting the Number of Occurances of a Character in a String

In [ ]:
word = "python"
character = "p"
count = 0
for letter in word:
    if letter == character:
        count += 1
print(count)

1

Day 63) Writing Fibonacci Series

In [ ]:
fib = [0,1]
# Range starts from 0 by default
for i in range(5):
    fib.append(fib[-1] + fib[-2])

# Converting the list of integers to string
print(', '.join(str(e) for e in fib))

0, 1, 1, 2, 3, 5, 8

Day 64)Finding the Maximum Number in a List

In [ ]:
numberList = [15, 85, 35, 89, 125]

maxNum = numberList[0]
for num in numberList:
    if maxNum < num:
        maxNum = num
print(maxNum)

125

Day65) Finding the Minimum Number in a List

In [ ]:
numberList = [15, 85, 35, 89, 125, 2]

minNum = numberList[0]
for num in numberList:
    if minNum > num:
        minNum = num
print(minNum)

2

Day 66) Finding the Middle Element in a List

In [ ]:
numList = [1, 2, 3, 4, 5]
midElement = int((len(numList)/2))

print(numList[midElement])

3

Day 67)Converting a List into a String

In [ ]:
lst = ["P", "Y", "T", "H", "O", "N"]
string = ''.join(lst)

print(string)
print(type(string))

PYTHON
<class 'str'>

Day 68)Adding Two List Elements Together

In [ ]:
lst1 = [1, 2, 3]
lst2 = [4, 5, 6]

res_lst = []
for i in range(0, len(lst1)):
    res_lst.append(lst1[i] + lst2[i])
print(res_lst)

[5, 7, 9]

Day69) Comparing Two Strings for Anagrams

In [ ]:
str1 = "Listen"
str2 = "Silent"

str1 = list(str1.upper())
str2 = list(str2.upper())
str1.sort(), str2.sort()

if(str1 == str2):
    print("True")
else:
    print("False")

True

Day 70) Checking for Palindrome Using Extended Slicing Technique

In [ ]:
str1 = "Kayak".lower()
str2 = "kayak".lower()

if(str1 == str2[::-1]):
    print("True")
else:
    print("False")

True

Day71) Counting the White Spaces in a String

In [ ]:
string = "P r ogramm in g "
print(string.count(' '))

5

Day 72) Counting Digits, Letters, and Spaces in a String

In [ ]:
# Importing Regular Expressions Library
import re

name = 'Python is 1'

digitCount = re.sub("[^0-9]", "", name)
letterCount = re.sub("[^a-zA-Z]", "", name)
spaceCount = re.findall("[ \n]", name)

print(len(digitCount))
print(len(letterCount))
print(len(spaceCount))

1
8
2

Day 73) Counting Special Characters in a String

In [ ]:
# Importing Regular Expressions Library
import re
spChar = "!@#$%^&*()"

count = re.sub('[\w]+', '', spChar)
print(len(count))

10

Day74)Removing All Whitespace in a String

In [ ]:
import re

string = "C O D E"
spaces = re.compile(r'\s+')
result = re.sub(spaces, '', string)
print(result)

CODE

Day 75) Building a Pyramid in Python

In [ ]:
floors = 3
h = 2*floors-1
for i in range(1, 2*floors, 2):
    print('{:^{}}'.format('*'*i, h))

  *
 ***
*****

Day 76)Randomizing the Items of a List in Python

In [ ]:

from random import shuffle

lst = ['Python', 'is', 'Easy']
shuffle(lst)
print(lst)

['Easy', 'is', 'Python']

Day 77) Given two arrays, write a python function to return the intersection of the two? For example, X = [1,5,9,0] and Y = [3,0,2,9] it should return [9,0]

In [ ]:
def intersection(X, Y):
    set_X = set(X)
    set_Y = set(Y)
    intersect = set_X.intersection(set_Y)
    return list(intersect)
X = [1, 5, 9, 0]
Y = [3, 0, 2, 9]
result = intersection(X, Y)
print(result)

[0, 9]

Day 78) Given an array of integers of size N, the task is to find the first non-repeating element in this array.

In [ ]:
def first_non_repeating_element(arr):
    frequency = {}
    for num in arr:
        if num in frequency:
            frequency[num] += 1
        else:
            frequency[num] = 1
    for num in arr:
        if frequency[num] == 1:
            return num
    return None
input_array = [-1, 2, -1, 3, 0]
output = first_non_repeating_element(input_array)
print(output)

2

Day 79)Write a Python program to find validity of a string of parentheses, '(', ')', '{', '}', '[' and ']. These brackets must be close in the correct order,for example "()" and "()[]{}" are valid but "[)", "({[)]" and "{{{" are invalid.

In [ ]:
class py_solution:
   def is_valid_parenthese(self, str1):
        stack, pchar = [], {"(": ")", "{": "}", "[": "]"}
        for parenthese in str1:
            if parenthese in pchar:
                stack.append(parenthese)
            elif len(stack) == 0 or pchar[stack.pop()] != parenthese:
                return False
        return len(stack) == 0

print(py_solution().is_valid_parenthese("(){}[]"))
print(py_solution().is_valid_parenthese("()[{)}"))
print(py_solution().is_valid_parenthese("()"))

True
False
True

Day 80) Python Program to Transpose a Matrix

In [ ]:
X = [[12,7],
    [4 ,5],
    [3 ,8]]
result = [[0,0,0],
         [0,0,0]]
for i in range(len(X)):
   for j in range(len(X[0])):
       result[j][i] = X[i][j]

for r in result:
   print(r)

[12, 4, 3]
[7, 5, 8]

Day 81) To check if a date is valid in Python, you can use the datetime module

In [ ]:
from datetime import datetime

def is_valid_date(year, month, day):
    try:
        datetime(year, month, day)
        return True
    except ValueError:
        return False

if is_valid_date(2023,2,29):
    print(f"The date {year}-{month}-{day} is valid.")
else:
    print(f"The date {year}-{month}-{day} is not valid.")

The date 2023-2-29 is not valid.

Day 82) Python program to find number of days between two given dates

In [ ]:
from datetime import date
def numOfDays(date1, date2):
	if date2 > date1:
		return (date2-date1).days
	else:
		return (date1-date2).days
date1 = date(2018, 12, 13)
date2 = date(2015, 2, 25)
print(numOfDays(date1, date2), "days")

1387 days

Day 83)Generate random string of given length

In [ ]:
import string
import random
N = 7
res = ''.join(random.choices(string.ascii_lowercase +
							string.digits, k=N))
print("The generated random string : " + str(res))

The generated random string : 5d2m15i

Day 84) Programs for printing pyramid patterns in Python

In [ ]:
n = 5
alph = 65
for i in range(0, n):
	print(" " * (n-i), end=" ")
	for j in range(0, i+1):
		print(chr(alph), end=" ")
		alph += 1
	alph = 65
	print()

      A
     A B
    A B C
   A B C D
  A B C D E

day 85) Python – Check if a list is empty or not

In [ ]:
def Enquiry(lis1):
	if len(lis1) == 0:
		return 0
	else:
		return 1
lis1 = []
if Enquiry(lis1):
	print("The list is not empty")
else:
	print("Empty List")

Empty List

Day 86)To convert seconds into days, hours, minutes, and seconds

In [ ]:
def convert_seconds(seconds):
    days = seconds // 86400
    hours = (seconds % 86400) // 3600
    minutes = (seconds % 3600) // 60
    seconds = seconds % 60
    return days, hours, minutes, seconds
days, hours, minutes, seconds = convert_seconds(90061)
print(f"{days} days, {hours} hours, {minutes} minutes, and {seconds} seconds")

1 days, 1 hours, 1 minutes, and 1 seconds

Day 87) To count the number of words in a string in Python

In [ ]:
def count_words(string):
    words = string.split()
    return len(words)
text = "This is an example string."
word_count = count_words(text)
print(f"The number of words in the string is: {word_count}")

The number of words in the string is: 5

Day 88) To check if a string starts with a specific value in Python

In [ ]:
text = "Hello, world!"
if text.startswith("Hello"):
    print("The string starts with 'Hello'.")
else:
    print("The string does not start with 'Hello'.")

The string starts with 'Hello'.

Day 89) To convert an array (or list of lists) to a comma-separated string in Python

In [ ]:
array = [1, 2, 3, 4, 5]
comma_separated_string = ",".join(map(str, array))
print(comma_separated_string)

1,2,3,4,5

Day 89)To check if a string is a valid email address in Python

In [ ]:
import re
def is_valid_email(email):
    pattern = r'^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$'
    return re.match(pattern, email) is not None
email = "krushnapadole12@gmail.com"
print(f"{email} is valid: {is_valid_email(email)}")

krushnapadole12@gmail.com is valid: True

Day 90) To convert feet to meters, you use the conversion factor:

1 foot=0.3048 meters

In [ ]:
def feet_to_meters(feet):
    return feet * 0.3048
meters = feet_to_meters(10)
print(f"{feet} feet is equal to {meters} meters.")

10 feet is equal to 3.048 meters.

Day 91) To convert degrees to radians in Python

In [ ]:
import math
def degrees_to_radians(degrees):
    return degrees * (math.pi / 180)
degrees = 45
radians = degrees_to_radians(degrees)
print(f"{degrees} degrees is equal to {radians} radians.")

45 degrees is equal to 0.7853981633974483 radians.

Day 92) Merge two sorted arrays.

In [1]:
def mergeArrays(arr1, arr2, n1, n2, arr3):
	i = 0
	j = 0
	k = 0
	while(i < n1):
		arr3[k] = arr1[i]
		k += 1
		i += 1
	while(j < n2):
		arr3[k] = arr2[j]
		k += 1
		j += 1
	arr3.sort()
if __name__ == '__main__':
	arr1 = [1, 3, 5, 7]
	n1 = len(arr1)

	arr2 = [2, 4, 6, 8]
	n2 = len(arr2)

	arr3 = [0 for i in range(n1+n2)]
	mergeArrays(arr1, arr2, n1, n2, arr3)

	print("Array after merging")
	for i in range(n1 + n2):
		print(arr3[i], end=" ")

Array after merging
1 2 3 4 5 6 7 8

day 93) Alternet way of above Quastion

In [2]:
def merge_sorted_arrays(arr1, arr2):
    return sorted(arr1 + arr2)
arr1 = [1, 3, 5, 7]
arr2 = [2, 4, 6, 8]
result = merge_sorted_arrays(arr1, arr2)
print(result)

[1, 2, 3, 4, 5, 6, 7, 8]

Day 94) To find the length of the longest substring without repeating characters

In [8]:
def length_of_longest_substring(s):
    char_index = {}
    longest = 0
    start = 0

    for i, char in enumerate(s):
        if char in char_index and char_index[char] >= start:
            start = char_index[char] + 1
        longest = max(longest, i - start + 1)
        char_index[char] = i

    return longest
s = "abcabcbb"
result = length_of_longest_substring(s)
print(result)

3

day 95)To check if a binary tree is a binary search tree (BST)

In [9]:
class TreeNode:
    def __init__(self, value):
        self.value = value
        self.left = None
        self.right = None

def is_bst(node, left=float('-inf'), right=float('inf')):
    if node is None:
        return True

    if not (left < node.value < right):
        return False

    return (is_bst(node.left, left, node.value) and
            is_bst(node.right, node.value, right))

root = TreeNode(10)
root.left = TreeNode(5)
root.right = TreeNode(15)
root.left.left = TreeNode(2)
root.left.right = TreeNode(7)
root.right.left = TreeNode(12)
root.right.right = TreeNode(20)

result = is_bst(root)
print(result)

True

day 96)To perform a level order traversal (also known as breadth-first traversal) of a binary tree

In [10]:
from collections import deque

class TreeNode:
    def __init__(self, value):
        self.value = value
        self.left = None
        self.right = None

def level_order_traversal(root):
    if not root:
        return []

    result = []
    queue = deque([root])

    while queue:
        level_size = len(queue)
        level = []

        for _ in range(level_size):
            node = queue.popleft()
            level.append(node.value)

            if node.left:
                queue.append(node.left)
            if node.right:
                queue.append(node.right)

        result.append(level)

    return result
root = TreeNode(1)
root.left = TreeNode(2)
root.right = TreeNode(3)
root.left.left = TreeNode(4)
root.left.right = TreeNode(5)
root.right.left = TreeNode(6)
root.right.right = TreeNode(7)

result = level_order_traversal(root)
print(result)

[[1], [2, 3], [4, 5, 6, 7]]

Day 97)To find the KKth largest element in an array

In [11]:
def find_kth_largest(nums, k):
    nums.sort(reverse=True)
    return nums[k-1]

arr = [3, 2, 1, 5, 6, 4]
k = 2
result = find_kth_largest(arr, k)
print(result)

5