daily practic python part 2:

 day 14) write program to get the 3 elements from front and 3 elements from back of tuple.

In [ ]:
tup=('K','r','u','s','h','n','a')
print("front 3 elements are",tup[2])
print("last 3 elements are",tup[-3])

front 3 elements are u
last 3 elements are h

day 15) write program repeated items of a tuple.

In [ ]:
tup=('K','r','u','s','h','n','a','a')
print(tup.count('a'))

2

day 16) wirte a program to check whether an element exists within a tuple.

In [ ]:
tup1=('K','r','u','s','h','n','a')
ch=input("enter element to search : ")
print(ch in tup1)

enter element to search : K
True

day 17) Write a Python program to find repeated items in a tuple.

In [ ]:
tuplex = 2, 4, 5, 6, 2, 3, 4, 4, 7
print(tuplex)
count = tuplex.count(4)
print(count)

(2, 4, 5, 6, 2, 3, 4, 4, 7)
3

Day 18) what is output and iteration over set.

In [ ]:
set={10,20,30,40,40}
print(set)
for i in set:
  print(i)

{40, 10, 20, 30}
40
10
20
30

Day 19) WAP to add & remove operation on set.

In [ ]:
set.add(50)
set.pop()
set.remove(30)
set.discard(20)
print(set)

{10, 50}

Day 20) WAP to create union and intersection of sets.

In [ ]:
set1={1,2,3}
set2={2,3,4}
print(set1.union(set2))
print(set1&set2)

{1, 2, 3, 4}
{2, 3}

Day 21) WAP to min,max,difference,symmetrix_difference.

In [ ]:
set3={10,20,30,40,50,60}
print(min(set3))
print(max(set3))
set1={1,2,3}
set2={2,3,4}
print(set1-set2)
print(set1^set2)
""""print(set1.difference(set2))
print(set1.symmetric_difference(set2))"""

10
60
{1}
{1, 4}

'"print(set1.difference(set2))\nprint(set1.symmetric_difference(set2))'

Day 22) WAp to create shallow copy of sets .

In [ ]:
set4={"abc","def","ghi"}
set5=set4.copy()
print(set5)

{'ghi', 'def', 'abc'}

Day 23) WAP to accept the string which contains all vowels.

In [ ]:
def check(string) :

	string = string.lower()
	vowels = set("aeiou")
	s = set({})
	for char in string :
		if char in vowels :
			s.add(char)
		else:
			pass
	if len(s) == len(vowels) :
		print("Accepted")
	else :
		print("Not Accepted")
if __name__ == "__main__" :

	string = "SEEquoiaL"
	check(string)

Accepted

Day 24)Write a Python script to concatenate the following dictionaries to create a new one.

In [ ]:
dic1 = {1: 10, 2: 20}
dic2 = {3: 30, 4: 40}
dic3 = {5: 50, 6: 60}
dic4 = {}
for d in (dic1, dic2, dic3):
    dic4.update(d)
print(dic4)

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

Day 25) WAP to calculate  the avg of number given in list.

In [ ]:
lst=[10,20,30,40]
sum=0
for i in range(len(lst)):
   sum=sum+lst[i]
   avg=sum/len(lst)
print(sum)
print(avg)

100
25.0

Day 26) WAP which accepts 6 integer values and prints "duplicates" if any of the values entered are duplicates otherwise it prints "all unique".

In [ ]:
a=list()
for i in range(6):
  a.append (int(input("enter")))
  if len (set(a))!=len(a):
    print("duplication")
  else:
      print("all unique")

enter12
all unique
enter12
duplication