daily practic python part 2:

 day 14) write program to get the 3 elements from front and 3 elements from back of tuple.

In [ ]:
tup=('K','r','u','s','h','n','a')
print("front 3 elements are",tup[2])
print("last 3 elements are",tup[-3])

front 3 elements are u
last 3 elements are h

day 15) write program repeated items of a tuple.

In [ ]:
tup=('K','r','u','s','h','n','a','a')
print(tup.count('a'))

2

day 16) wirte a program to check whether an element exists within a tuple.

In [ ]:
tup1=('K','r','u','s','h','n','a')
ch=input("enter element to search : ")
print(ch in tup1)

enter element to search : K
True

day 17) Write a Python program to find repeated items in a tuple.

In [ ]:
tuplex = 2, 4, 5, 6, 2, 3, 4, 4, 7
print(tuplex)
count = tuplex.count(4)
print(count)

(2, 4, 5, 6, 2, 3, 4, 4, 7)
3

Day 18) what is output and iteration over set.

In [ ]:
set={10,20,30,40,40}
print(set)
for i in set:
  print(i)

{40, 10, 20, 30}
40
10
20
30

Day 19) WAP to add & remove operation on set.

In [ ]:
set.add(50)
set.pop()
set.remove(30)
set.discard(20)
print(set)

{10, 50}

Day 20) WAP to create union and intersection of sets.

In [ ]:
set1={1,2,3}
set2={2,3,4}
print(set1.union(set2))
print(set1&set2)

{1, 2, 3, 4}
{2, 3}

Day 21) WAP to min,max,difference,symmetrix_difference.

In [ ]:
set3={10,20,30,40,50,60}
print(min(set3))
print(max(set3))
set1={1,2,3}
set2={2,3,4}
print(set1-set2)
print(set1^set2)
""""print(set1.difference(set2))
print(set1.symmetric_difference(set2))"""

10
60
{1}
{1, 4}

'"print(set1.difference(set2))\nprint(set1.symmetric_difference(set2))'

Day 22) WAp to create shallow copy of sets .

In [ ]:
set4={"abc","def","ghi"}
set5=set4.copy()
print(set5)

{'ghi', 'def', 'abc'}

Day 23) WAP to accept the string which contains all vowels.

In [ ]:
def check(string) :

	string = string.lower()
	vowels = set("aeiou")
	s = set({})
	for char in string :
		if char in vowels :
			s.add(char)
		else:
			pass
	if len(s) == len(vowels) :
		print("Accepted")
	else :
		print("Not Accepted")
if __name__ == "__main__" :

	string = "SEEquoiaL"
	check(string)

Accepted

Day 24)Write a Python script to concatenate the following dictionaries to create a new one.

In [ ]:
dic1 = {1: 10, 2: 20}
dic2 = {3: 30, 4: 40}
dic3 = {5: 50, 6: 60}
dic4 = {}
for d in (dic1, dic2, dic3):
    dic4.update(d)
print(dic4)

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

Day 25) WAP to calculate  the avg of number given in list.

In [ ]:
lst=[10,20,30,40]
sum=0
for i in range(len(lst)):
   sum=sum+lst[i]
   avg=sum/len(lst)
print(sum)
print(avg)

100
25.0

Day 26) WAP which accepts 6 integer values and prints "duplicates" if any of the values entered are duplicates otherwise it prints "all unique".

In [ ]:
a=list()
for i in range(6):
  a.append (int(input("enter")))
  if len (set(a))!=len(a):
    print("duplication")
  else:
      print("all unique")

enter12
all unique
enter12
duplication

Day 27) WAP which finds sum of digits of a number example example n=130 then o\p is 4 (1+3+0).

In [ ]:
num = 1330
N=num
sum_of_digit=0
while N>0:
  digit=N%10
  sum_of_digit+=digit
  N=N//10
  print(sum_of_digit)

0
3
6
7

Day 28) WAP to Display following pattern.

In [ ]:
n=4
for i in range(n,0,-1):

  for j in range(1,i+1):
    print(j,end=" ")

  print()

1 2 3 4
1 2 3
1 2
1

Day 29)WAP to reverse a given number.

In [ ]:
n=int(input("enter any number"))
rev=0
while n!=0:
  digit=n%10
  rev=rev*10+digit
  n//=10
  print("reverse no is",str(rev))

enter any number1234
reverse no is 4
reverse no is 43
reverse no is 432
reverse no is 4321

Day 30)Python Program to Print the Fibonacci sequence.

In [ ]:
n = 10
num1 = 0
num2 = 1
next_number = num2
count = 1

while count <= n:
	print(next_number, end=" ")
	count += 1
	num1, num2 = num2, next_number
	next_number = num1 + num2
print()

1 2 3 5 8 13 21 34 55 89

Day 31) write an nanymous Function to Calculate Area of Square

In [ ]:
Area=lambda r:S*S
S=(int(input("Entervthe side of Square: ")))
print("Area",Area(S))

Entervthe side of Square: 12
Area 144

Day 32) Write a generator Function That Reverses a Given String.

In [ ]:
S=input("Enter The String : ")
def reverse(S):
  yield S[len(S): :-1]
for i  in reverse(S):
    print(i)

Enter The String : Krushna
anhsurK

Day 33) write a recursive function to calculate the sum of number from 0 to 10.

In [ ]:
def sum(n):
  if n==1:
    return n
  else:
      return n+sum(n-1)

print(sum(10))

55

Day 34) Python Program to Swap Two Variables.

In [1]:
# Python program to swap two variables

x = 5
y = 10

# To take inputs from the user
#x = input('Enter value of x: ')
#y = input('Enter value of y: ')

# create a temporary variable and swap the values
temp = x
x = y
y = temp

print('The value of x after swapping: {}'.format(x))
print('The value of y after swapping: {}'.format(y))

The value of x after swapping: 10
The value of y after swapping: 5